@import "tailwindcss";

@layer base {
  body {
    font-family: "Montserrat", sans-serif;
  }
  .before-line-bar {
    position: relative;
  }
  .before-line-bar:after {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    height: 42px;
    width: 2px;
    background-color: #fcd331;
    opacity: 0;
  }
  .active.before-line-bar:after {
    opacity: 1;
  }
  .divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #e0e0e0;
  }
  .divider::before,
  .divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ffffff26;
    margin: 0 14px;
  }
  .checkbox-label:before {
    content: "";
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
      inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 2px;
  }
  input:checked + .checkbox-label:after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 6px;
    width: 6px;
    height: 11px;
    border: solid #fcd331;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  .pointer {
    cursor: pointer;
  }
  input:checked + .checkbox-label:before {
    border-color: #fcd331;
  }
  .iti.iti--allow-dropdown {
    width: 100%;
  }
  .iti--allow-dropdown input,
  .iti--allow-dropdown input[type="tel"],
  .iti--allow-dropdown input[type="text"],
  .iti--separate-dial-code input,
  .iti--separate-dial-code input[type="tel"],
  .iti--separate-dial-code input[type="text"] {
    padding-left: 60px !important;
  }
  .iti--allow-dropdown .iti__flag-container,
  .iti--separate-dial-code .iti__flag-container {
    right: auto;
    left: 12px !important;
  }
}

@layer components {
  .container {
    @apply max-w-[1238px] mx-auto px-4;
  }

  .heading-sm {
    @apply font-medium text-lg text-white;
  }
  .heading-md {
    @apply font-semibold text-[22px] text-white leading-[100%];
  }
  .label {
    @apply font-medium text-[16px] text-white;
  }
  .input {
    @apply w-full rounded-[10px] font-medium text-[16px] text-white bg-[#FFFFFF14] py-3 px-5 ps-[52px] mt-3 border border-transparent placeholder:text-[#FFFFFF4D] placeholder:font-normal  focus:border-[1px] focus:border-[#FCD331] focus:outline-none;
  }
  .primary-btn {
    @apply w-full rounded-[100px] p-3 lg:p-[14px] bg-[#FCD331] text-black font-semibold text-[16px] hover:bg-[#FCD331] duration-500 hover:shadow-[0_20px_25px_0_rgba(204,164,52,0.2)];
  }
  .secondary-btn {
    @apply flex justify-center gap-x-2 rounded-[100px] p-3 lg:p-[14px] bg-[#0000004D] text-[#E0E0E0] font-medium text-[16px] hover:bg-[#2725254d] duration-500;
  }
  .code-inputs input {
    @apply border rounded-[100px] text-white h-8 w-11 lg:h-11 lg:w-16 bg-transparent mt-4 text-center font-medium text-sm lg:text-xl;
  }
  .valid-otp input {
    @apply border-[#4CAF50]  text-[#4CAF50];
  }
  .error-otp input {
    @apply border-[#FE6D8E]  text-[#FE6D8E];
  }
}
